/*Clases reutilizables*/
.flex-direction-column{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.content-box {
  padding: 30px;
}
.content-box-section2{
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
}
section.margin-section{
  margin-top: 30px;
  margin-bottom: 30px;
}
.center-align{
  text-align: center;
}
/*Estilos para navbar*/
.logo-gib{
  width: 80px;
}
button.navbar-toggle.btn-no-background, .navbar-toggle.navbar-toggle:hover{
  background-color: inherit;
}
button.btn-no-background.navbar-toggle.navbar-toggle:hover, .navbar-toggle.navbar-toggle:focus{
  background-color: inherit;
}
button.navbar-toggle.btn-no-border, .navbar-toggle:focus{
  border-color: transparent;
}
nav.navbar.navbar-default.nav-margin-btn-0{
  margin-bottom: 0px;
}
nav.padding-nav{
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Estilos hero*/
section div.container-fluid.container-padding-0, div.col-xs-12.container-padding-0{
  padding-right: 0;
  padding-left: 0;
}

div.row.row-margin-0{
  margin-right: 0;
  margin-left: 0;
}
div.item.height-img-movile{
  height: 60vh;
}
div.item.height-img-movile img{
  height: -webkit-fill-available;
}

/*Estilos primera sección*/
#shaped{
  height: 60vh;
  width: 40vw;
  float: left;
  margin: 0 20px 0 0;
  background: url('../assets/images/image.jpg') center top no-repeat;
  background-size: cover;
  shape-outside: polygon(0 0, 100% 0, 45% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 45% 100%, 0 100%);
}
