.style-box-products{
  border: 2px solid rgba(59,89,152,0.8);
  padding: 30px 20px;
  border-radius: 50px;
}

.style-box-services{
  background-color: rgba(59,89,152,0.8);
  border: 2px solid rgba(59,89,152,0.8);
  border-radius: 50px;
  margin-bottom: 30px;
  height: 220px;
  padding: 10px;
}
.letter-services{
  color: white;
  font-weight: bold;
}
.padding-box-products{
  padding: 80px 0px;
}
.padding-section-products{
  padding-top: 160px;
}

.background-pandorafms{
  background-color: rgb(127,181,40);
  padding: 10px 10px;
  color: white;
  margin-bottom: 20px;
}
.background-pandorafms h2{
  font-weight: bold;
}

@media (min-width: 1200px){
  .margin-top-70{
    margin-top: 70px;
  }

  .style-box-services{
    height: 300px;
  }
}
