body{
  font-weight: 300;
  font-family: futura bold font;
}
h1{
  font-weight: bold;
}
/*Clases reutilizables*/
.flex-direction-column{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.content-box {
  padding: 30px;
}
.content-max-box{
  padding: 70px;
}
.content-box-section3{
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
}
section.margin-section{
  margin-top: 70px;
  margin-bottom: 80px;
}
.center-align{
  text-align: center;
}
.justify{
  text-align: justify;
}
.list-style-none{
  list-style: none;
  outline: inherit;
}
a.color-links-footer{
  color: black;
}
h4.font-weight{
  font-weight: bold;
}
footer ul.ulf-padding-btm{
  padding-bottom: 40px;
}
.background-gray{
  background-color: rgba(52,58,64,0.05);  //rgba(140,120,120,0.05);
}
/*Estilos para navbar*/
.logo-gib{
  width: 80px;
}
button.navbar-toggle.btn-no-background, .navbar-toggle.navbar-toggle:hover{
  background-color: inherit;
}
button.btn-no-background.navbar-toggle.navbar-toggle:hover, .navbar-toggle.navbar-toggle:focus{
  background-color: inherit;
}
button.navbar-toggle.btn-no-border, .navbar-toggle:focus{
  border-color: transparent;
}
nav.navbar.navbar-default.nav-margin-btn-0{
  border-color: transparent;
  margin-bottom: 0px;
}
nav.padding-nav{
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Efectos en navbar*/

.header .navbar {
  background-color: rgba(255,255,255,0.8);
}
nav#navbar{
  -webkit transition: background-color .5s;
}
.black{
color: #322323;
}
.navbar-default .navbar-nav>li>a.black{
  color: #322323;
}
.navbar-default .navbar-toggle .icon-bar.color-black{
  background-color: #322323;
}
.navbar-default .navbar-nav>.open>a.black, .navbar-default .navbar-nav>.open>a.black:focus, .navbar-default{
  color: #322323;
  background-color: transparent;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a{
  background-color: transparent;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a.black{
  color: #322323;
}
/*Estilos hero*/
section div.container-fluid.container-padding-0, div.col-xs-12.container-padding-0{
  padding-right: 0;
  padding-left: 0;
}

div.row.row-margin-0{
  margin-right: 0;
  margin-left: 0;
}
div.item.height-img-movile{
  height: 80vh;
}
div.item.height-img-movile img{
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}

.card-contact{
  padding: 30px;
  border-radius: 50px;
  border: 3px solid rgb(231,231,231);
}
.border-radius{
  border-radius: 90px;
}

/*Estilos para footer*/
footer{
  background-color: rgb(52,58,64);
}
.white{
  color: #FFF;
}


/*Modificando responsive*/
@media (min-width: 768px){
  .content-box-section3{
    padding-bottom: 0px;
  }
}

@media (min-width: 992px){


}

@media (min-width: 1200px){
  .flex-direction-column{
    flex-direction: initial;
  }
}
