body{
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}
h1{
  font-weight: bold;
  color: rgb(59,89,152);
}
/*Clases reutilizables*/
.flex-direction-column{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.height-85{
  height: 85vh;
}
.content-box {
  padding: 20px;
  height: 100%;
}
.content-max-box{
  padding: 70px;
}
.content-padding-image{
  padding: 30px;
}
.content-box-section3{
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
}
section.margin-section{
  margin-top: 70px;
  margin-bottom: 80px;
}
section.padding-section{
  padding-top: 70px;
  padding-bottom: 80px;
}
.center-align{
  text-align: center;
}

hr.hr-style-gib{
  border-color: rgba(59,89,152,0.5);
  max-width: 50px;
  border-width: 3px;
}
.text-shadow{
  text-shadow: 2px 2px 1px #000;
}
.list-style-none{
  list-style: none;
  outline: inherit;
}
a.color-links-footer{
  color: black;
}
h4.font-weight{
  font-weight: bold;
}
footer ul.ulf-padding-btm{
  padding-bottom: 40px;
}
.background-gray{
  background-image: url('../assets/images/gris.jpg');
}
img.filter-img{
  filter: contrast(85%);
  -webkit-filter: contrast(85%);
}
.margin-btm-30{
  margin-bottom: 30px;
}

/*Estilos para navbar*/
a.navbar-brand.padding-0.logo-gib{
  width: 3rem;
  height: 3rem;
}

nav{
   box-shadow: 2px 2px 10px #666;
}
nav.padding-nav{
  padding: 10px;
}
a.navbar-brand.padding-0{
  padding: 0;
}
.navbar-fixed-top{
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
}
/*Efectos en navbar*/

.header .navbar {
  background-color: rgba(255,255,255,0.8);
}
nav#navbar{
  -webkit transition: background-color .5s;
  transition: 0.5s ease-in-out;
}
.blue{
color: rgb(59,89,152);
}
.navbar-expand-lg .navbar-nav>li>a.blue{
  color: rgb(59,89,152);
}
.navbar-expand-lg .navbar-nav>li>a.blue:hover{
  color: #000;
}
.navbar-expand-lg .navbar-toggle .icon-bar.color-blue{
  background-color: rgb(59,89,152);
}
.navbar-expand-lg .navbar-nav>.open>a.blue{
  color: rgb(59,89,152);
  background-color: transparent;
}
.navbar-expand-lg .navbar-nav>li>a, .navbar-expand-lg .navbar-nav>li>a{
  background-color: transparent;
}
.navbar-expand-lg .navbar-nav .open .dropdown-menu>li>a.blue{
  color: rgb(59,89,152);
}
.navbar-light button.navbar-toggler.border-none{
  border-color: transparent;
}

/*Estilos hero*/
section div.col-12.container-padding-0{
  padding: 0;
}

div img.img-fluid.filter-image-responsive{
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}


/*Primera sección*/
.zoom-effect-container {
    width: fit-content;
    height: 360px;
    margin: 0 auto;
    overflow: hidden;
}
.image-card img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.zoom-effect-container:hover .image-card img{
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
/*Segunda sección*/
.padding-second-section{
  padding: 55px 20px;
}
.zoom-effect-container-clients {
    width: fit-content;
    margin: 0 auto;
    overflow: hidden;
}

.card-contact{
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card-image{
  padding: 50px;
}
/*Estilos para footer*/
footer{
  background-color: rgb(52,58,64);
}
.white{
  color: #FFF;
}


/*Modificando responsive*/
@media (min-width: 768px){
  .content-box-section3{
    padding-bottom: 0px;
  }
  .padding-second-section{
    padding: 70px;
  }

  .flex-five-section{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a.navbar-brand.padding-0.logo-gib{
    width: 5rem;
    height: 5rem;
  }

  .padding-top-header-ul{
    padding-top: 1rem;
  }
}

@media (min-width: 992px){

}

@media (min-width: 1200px){
  .flex-direction{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav.padding-nav{
    padding: 15px;
  }
  .style-box-services {
    height: 280px;
  }

  .margin-top-70{
    margin-top: 70px;
  }
}
