.style-box-products{
  border: 2px solid rgba(59,89,152,0.8);
  padding: 30px 20px;
  border-radius: 50px;
}

.style-box-services{
  background-color: rgba(59,89,152,0.8);
  border: 2px solid rgba(59,89,152,0.8);
  border-radius: 50px;
  margin-bottom: 30px;
  height: 220px;
  padding: 10px;
}
.letter-services{
  color: white;
  font-weight: bold;
}
.padding-box-products{
  padding: 50px 0px;
}
.margin-section-products{
  margin-top: 125px;
}

.flex-direction-inline{
  align-items: center;
}
.margin-top-70{
  margin-top: 0;
}
@media (min-width: 1200px){
  .flex-direction-inline{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .margin-top-70{
    margin-top: 70px;
  }

  .style-box-services{
    height: 300px;
  }
}
