<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <title>Gib-Solutions</title>
    <!--Color de barra de navegación que sólo se verá en versión movile-->
    <meta name="theme-color" content="#343A40"/>
    <!--Logo pequeño que estará ubciado en la pestaña-->
    <link rel="icon" type="image/png" href="../assets/images/logo-gs.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- CSS bootstrap -->
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
    <!-- Mi css -->
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/main2.css">
  </head>

  <body>
    <!--Navbar-->
    <header class="header">
      <nav id="navbar" class="navbar navbar-light navbar-expand-lg nav-margin-btn-0 navbar-fixed-top padding-nav" data-scroll-header>
        <a class="navbar-brand padding-0 logo-gib" href="../index.html"><img src="../assets/images/logo-gs.png" alt="Logo Gib-Solutions" class="img-fluid d-inline-block align-top" style="width:5rem; height:5rem;"></a>
        <button class="navbar-toggler border-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto  padding-top-header-ul content-box">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Sobre Gib-Solutions</strong>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item blue" href="#" id="about-us-gs" data scroll><strong>¿Quiénes somos?</strong></a>
                <a class="dropdown-item blue" href="#" id="objectives-gs" data-scroll><strong>Nuestros objetivos</strong></a>
                <a class="dropdown-item blue" href="#" id="clients-gs" data-scroll><strong>Nuestros clientes</strong></a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link blue" href="services-partners.html" data-scroll><strong>Nuestros servicios y socios</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link blue" href="#" id="contact-us-gs" data-scroll><strong>Contáctenos</strong></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!--Sección Nuestros servicios-->
    <section class="padding-section-products content-box">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1 class="center-align">Nuestros servicios</h1>
            <hr class="hr-style-gib">
            <br>
          </div>
        </div>
        <div class="row margin-top-70">
          <div class="col-12 col-md-4">
            <div class="flex-direction-column style-box-services">
              <h3 class="center-align letter-services">Soporte técnico.</h3>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="flex-direction-column style-box-services">
              <h3 class="center-align letter-services">Consultoría TI.</h3>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="flex-direction-column style-box-services">
              <h3 class="center-align letter-services">Desarrollo de software.</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Sección productos-->
    <section class=" background-gray padding-box-products">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="center-align">Nuestros socios estratégicos</h1>
            <hr class="hr-style-gib">
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4 offset-md-2">
            <div class="content-box">
              <div class="flex-direction-column style-box-products">
                <img class="img-responsive" src="../assets/images/pandora.png" alt="PandoraFMS">
                <h2>¿Qué es Pandora FMS?</h2>
                <br>
                <p class="center-align">Pandora FMS es un software de monitorización para gestión de infraestructura TI. Esto incluye equipamiento de red, servidores Windows y Unix, infraestructura virtualizada y todo tipo de aplicaciones. Pandora FMS tiene multitud de funcionalidades, lo cual lo convierte en un software de nueva generación que cubre todos los aspectos de monitorización necesarios para su organización.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="content-box">
              <div class="flex-direction-column">
                <img class="img-responsive" src="../assets/images/nagios.png" alt="Nagios">
                <div class="background-pandorafms">
                  <h2 class="center-align">Partners certificados</h2>
                </div>
                <p class="center-align">Somos partners certificados de Pandora FMS. La plataforma de monitoreo de redes e infraestructura de TI más completa del mercado. Esto incluye equipamiento de red, servidores Windows y Unix, infraestructura virtualizada y todo tipo de aplicaciones. Pandora FMS tiene multitud de funcionalidades, lo cual lo convierte en un software de nueva generación que cubre todos los aspectos de monitorización necesarios para su organización.
                  Nuestros expertos están certificados para su debida instalación, configuración y capacitación con el objeto de brindar una solución integral en lo que se refiere a monitoreo de redes e infraestructura.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="content-box">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <p class="center-align white">Copyright © GIB Solutions 2019</p>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="../vendor/jQuery/jquery-3.2.1.min.js"></script>
    <script ype="text/javascript" src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../vendor/smooth-scroll.min.js"></script>
    <script>
       var scroll = new SmoothScroll('a[href*="#"]', {
         header: '[data-scroll-header]'
       });
    </script>

  </body>
</html>
