<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gib-Solutions</title>
    <!--Color de barra de navegación que sólo se verá en versión movile-->
    <meta name="theme-color" content="#6e268b"/>
    <!--Logo pequeño que estará ubciado en la pestaña-->
    <link rel="icon" type="image/png" href="../assets/images/icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- CSS bootstrap -->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
    <!-- Mi css -->
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/main2.css">
  </head>
  <body>
    <!--Navbar-->
    <header class="header">
      <nav id="navbar" class="navbar navbar-default nav-margin-btn-0 padding-nav navbar-fixed-top">
        <div class="container-fluid">
           <div class="row">
             <div class="col-xs-12">
               <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button class="collapsed navbar-toggle btn-no-border btn-no-background" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                 <a class="navbar-brand pull-left" href="../index.html"><img src="../assets/images/logo.jpg" alt="Logo Gib-Solutions" class="logo-gib img-responsive"></a>
               </div>

               <!-- Collect the nav links, forms, and other content for toggling -->
               <div class="navbar-collapse bs-example-js-navbar-collapse collapse" aria-expanded="false">
                 <ul class="nav navbar-nav navbar-right">
                   <li class="dropdown">
                     <a href="#" class="dropdown-toggle blue" id="drop1" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Por qué Gib-Solutions</strong><span class="caret"></span> </a>
                     <ul class="dropdown-menu" aria-labelledby="drop1">
                        <li><a href="../index.html" class="blue"><strong>Sobre Gib-Solutions</strong></a></li>
                        <li><a href="../index.html" class="blue"><strong>¿Quiénes somos?</strong></a></li>
                      </ul>
                   </li>
                   <li><a href="views/services-products.html" class="blue"><strong>Nuestros servicios y productos</strong></a></li>
                   <li><a href="../index.html" class="blue"><strong>Contáctenos</strong></a></li>
                 </ul>
               </div>
             </div>
           </div>
        </div><!-- /.container-fluid -->
      </nav>
    </header>

    <!--Sección servicios-->
    <section class="margin-section content-box">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="center-align">Nuestros servicios</h1>
            <br>
          </div>
        </div>
        <div class="row">
          <div class="flex-direction-inline margin-top-70">
            <div class="col-lg-4 col-sm-4">
              <div class="flex-direction-column style-box-services">
                <h3 class="center-align letter-services">Soporte técnico en soluciones de monitoreo.</h3>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="flex-direction-column style-box-services">
                <h3 class="center-align letter-services">Consultoría TI en soluciones de monitoreo.</h3>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="flex-direction-column style-box-services">
                <h3 class="center-align letter-services">Capacitaciones en soluciones de monitoreo (Solarwinds, Pandora, Dynatrace).</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Sección productos-->
    <section class="margin-section-products background-gray padding-box-products">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="center-align">Nuestros productos</h1>
            <br>
          </div>
        </div>
        <div class="row margin-top-70">
          <div class="col-lg-4 col-sm-12 col-md-4">
            <div class="content-box">
              <div class="flex-direction-column style-box-products">
                <img class="img-responsive" src="../assets/images/dynatrace2.png" alt="Dynatrace">
                <h2>Dynatrace</h2>
                <br>
                <p class="center-align">Dynatrace ofrece monitorización automática a nivel de código en aplicaciones desarrolladas con GO, incluidas plataformas empresariales como Cloud Foundry, Kubernetes y OpenShift.</p>
                <p><a class="btn btn-default" href="#" role="button">Ver detalles</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12 col-md-4">
            <div class="content-box">
              <div class="flex-direction-column style-box-products">
                <img class="img-responsive" src="../assets/images/pandora.png" alt="PandoraFMS">
                <h2>Pandora FMS</h2>
                <br>
                <p class="center-align">Pandora FMS es un software de monitorización OpenSource para gestión de infraestructura TI: redes, servidores, infraestructura virtualizada y aplicaciones.</p>
                <p><a class="btn btn-default" href="#" role="button">Ver detalles</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12 col-md-4">
            <div class="content-box">
              <div class="flex-direction-column style-box-products">
                <img class="img-responsive" src="../assets/images/nagios.png" alt="Nagios">
                <h2>Nagios</h2>
                <br>
                <p class="center-align">Nagios es actualmente un estándar en la monitorización de la infraestructura TI. Es open source y permite monitorizar todos los componentes críticos de la infraestructura TI de cualquier organización, incluyendo métricas de sistema, protocolos de red, aplicaciones, servidores e infraestructura de red.</p>
                <p><a class="btn btn-default" href="#" role="button">Ver detalles</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="content-box">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <p class="center-align white">Copyright © GIB Solutions 2019</p>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="../vendor/jQuery/jquery-3.2.1.min.js"></script>
    <script ype="text/javascript" src="../vendor/bootstrap/js/bootstrap.js"></script>
    <script ype="text/javascript" src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
  </body>
</html>
