<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <title>Gib-Solutions</title>
    <!--Color de barra de navegación que sólo se verá en versión movile-->
    <meta name="theme-color" content="#343A40"/>
    <!--Logo pequeño que estará ubciado en la pestaña-->
    <link rel="icon" type="image/png" href="../assets/images/logo-gs.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- CSS bootstrap -->
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.css">
    <!-- Mi css -->
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/main2.css">
  </head>

  <body>
    <!--Navbar-->
    <header class="header">
      <nav id="navbar" class="navbar navbar-light navbar-expand-lg nav-margin-btn-0 navbar-fixed-top padding-nav">
        <a class="navbar-brand padding-0 logo-gib" href="../index.html"><img src="../assets/images/logo-gs.png" alt="Logo Gib-Solutions" class="img-fluid d-inline-block align-top" style="width:inherit; height:100%;"></a>
        <button class="navbar-toggler border-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto  padding-top-header-ul content-box">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Sobre Gib-Solutions</strong>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item blue" href="#about-us" id="about-us-gs"><strong>¿Quiénes somos?</strong></a>
                <a class="dropdown-item blue" href="#our-objectives" id="objectives-gs"><strong>Nuestros objetivos</strong></a>
                <a class="dropdown-item blue" href="#our-clients" id="clients-gs"><strong>Nuestros clientes</strong></a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link blue" href="#"><strong>Nuestros servicios y socios</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link blue" href="#contact-us" id="contact-us-gs"><strong>Contáctenos</strong></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!--Sección Nuestros servicios-->
    <section class="padding-section-products content-box">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1 class="center-align">Nuestros servicios</h1>
            <hr class="hr-style-gib">
            <br>
          </div>
        </div>
        <div class="row margin-top-70 tile">
          <div class="col-12 col-md-4">
            <div class="style-box-services img-fluid" style="background-image: url('../assets/images/soporte.jpg')">
              <div class="details">
                <span class="title">Soporte técnico</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="style-box-services img-fluid" style="background-image: url('../assets/images/consultoria.jpg')">
              <div class="details">
                <span class="title">Consultoría TI</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="style-box-services img-fluid" style="background-image: url('../assets/images/desarrollo.jpg')">
              <div class="details">
                <span class="title">Desarrollo de software</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Sección productos-->
    <section class=" background-gray padding-box-products">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="center-align">Nuestro socio estratégico</h1>
            <hr class="hr-style-gib">
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-2">
            <div class="content-box">
              <div class="flex-direction-column style-box-products zoom-effect-partners">
                <div class="box-pandora">
                  <img class="img-fluid pandorafms" src="../assets/images/pandora.png" alt="PandoraFMS">
                </div>
                <h2>¿Qué es Pandora FMS?</h2>
                <br>
                <p class="center-align">Pandora FMS es un software de monitorización para gestión de infraestructura TI. Esto incluye equipamiento de red, servidores Windows y Unix, infraestructura virtualizada y todo tipo de aplicaciones. Pandora FMS tiene multitud de funcionalidades, lo cual lo convierte en un software de nueva generación que cubre todos los aspectos de monitorización necesarios para su organización.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-0">
            <div class="content-box">
              <div class="flex-direction-column zoom-effect-partners">
                <div class="box-pandora">
                  <img class="img-fluid pandorafms" src="../assets/images/pandora-certified.png" alt="Pandora Certified">
                </div>
                <div class="background-pandorafms">
                  <hr style="border-color: rgb(127,181,40);
                  max-width: 100%;
                  border-width: 4px;">
                  <h2 class="center-align" style="color: rgb(127,181,40);
                  font-weight: bold;">Partners certificados</h2>
                  <hr style="border-color: rgb(127,181,40);
                  max-width: 100%;
                  border-width: 4px;">
                </div>
                <p class="center-align">Somos partners certificados de Pandora FMS. La plataforma de monitoreo de redes e infraestructura de TI más completa del mercado. Esto incluye equipamiento de red, servidores Windows y Unix, infraestructura virtualizada y todo tipo de aplicaciones. Pandora FMS tiene multitud de funcionalidades, lo cual lo convierte en un software de nueva generación que cubre todos los aspectos de monitorización necesarios para su organización.
                </p>
                <br>
                <p class="center-align">Nuestros expertos están certificados para su debida instalación, configuración y capacitación con el objeto de brindar una solución integral en lo que se refiere a monitoreo de redes e infraestructura.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--sección funcionalidades-->
    <section class="padding-box-products">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <br>
            <h5 class="center-align">Gracias a Pandora FMS, con una sola herramienta puede monitorizar todos sus dispositivos, servidores, aplicaciones, servicios o procesos de negocio, del tipo que sean.</h5>
            <hr class="hr-style-gib">
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-3">
            <div class="padding-function-rows">
              <div class="row flex">
                <div class="col-5 flex">
                  <div class="zoom-effect-container-clients">
                    <div class="image-card">
                      <a href="#"><img class="card-img-top img-fluid" src="../assets/images/icono-1.jpg" alt="Redes"></a>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <h4 class="center-align">Redes</h4>
                  <p class="center-align"  style="margin-bottom:0">Control total de todo tipo de dispositivos de red sin importar modelo o tamaño.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="padding-function-rows">
              <div class="row flex">
                <div class="col-5 flex">
                  <div class="zoom-effect-container-clients">
                    <div class="image-card">
                      <a href="#"><img class="card-img-top img-fluid" src="../assets/images/icono-2.jpg" alt="Servidores"></a>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <h4 class="center-align">Servidores</h4>
                  <p class="center-align" style="margin-bottom:0">Planifique su capacidad y monitorice desde el hardware al sistema operativo.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="padding-function-rows">
              <div class="row flex">
                <div class="col-5 flex">
                  <div class="zoom-effect-container-clients">
                    <div class="image-card">
                      <a href="#"><img class="card-img-top img-fluid" src="../assets/images/icono-3.jpg" alt="Aplicaciones"></a>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <h4 class="center-align">Aplicaciones</h4>
                  <p class="center-align" style="margin-bottom:0">Plugins configurados para obtener métricas de rendimiento de las tecnologías estándar del mercado.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="padding-function-rows">
              <div class="row flex">
                <div class="col-5 flex">
                  <div class="zoom-effect-container-clients">
                    <div class="image-card">
                      <a href="#"><img class="card-img-top img-fluid" src="../assets/images/icono-4.jpg" alt="Experiencia"></a>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <h4 class="center-align">Experiencia de usuario</h4>
                  <p class="center-align" style="margin-bottom:0">Realice pruebas transaccionales de sus aplicaciones web tal y como lo harían sus usuarios.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-3 col-lg-3">
            <div class="padding-function-rows">
              <div class="row flex">
                <div class="col-5 flex">
                  <div class="zoom-effect-container-clients">
                    <div class="image-card">
                      <a href="#"><img class="card-img-top img-fluid" src="../assets/images/icono-5.jpg" alt="Logs"></a>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <h4 class="center-align">Logs</h4>
                  <p class="center-align" style="margin-bottom:0">Obtenga logs de SO y aplicación desde los agentes de monitorización.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-lg-3">
            <div class="padding-function-rows">
              <div class="row flex">
                <div class="col-5 flex">
                  <div class="zoom-effect-container-clients">
                    <div class="image-card">
                      <a href="#"><img class="card-img-top img-fluid" src="../assets/images/icono-6.jpg" alt="Cloud"></a>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <h4 class="center-align">Cloud</h4>
                  <p class="center-align" style="margin-bottom:0">Unifique la monitorización de todos sus entornos distribuidos en una única herramienta.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="padding-function-rows">
              <div class="row flex">
                <div class="col-5 flex">
                  <div class="zoom-effect-container-clients">
                    <div class="image-card">
                      <a href="#"><img class="card-img-top img-fluid" src="../assets/images/icono-7.jpg" alt="SAP"></a>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <h4 class="center-align">SAP</h4>
                  <p class="center-align" style="margin-bottom:0">Métricas específicas con nuestro plugin certificado por SAP para R3 y SAP Hana.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="padding-function-rows">
              <div class="row flex">
                <div class="col-5 flex">
                  <div class="zoom-effect-container-clients">
                    <div class="image-card">
                      <a href="#"><img class="card-img-top img-fluid" src="../assets/images/icono-8.jpg" alt="Control"></a>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <h4 class="center-align">Control remoto</h4>
                  <p class="center-align" style="margin-bottom:0">Acceso remoto completo a sus servidores y estaciones de trabajo.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Sección casos de éxito-->
    <section class="background-gray padding-box-products">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="center-align">Casos de éxito</h1>
            <hr class="hr-style-gib">
            <br>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h5 class="center-align"> A continuación, te presentaremos algunos casos de éxito (....). Para más información, da click a cada imagen.</h5>
          </div>
        </div>
        <div class="row flex">
          <div class="col-12 col-md-4 col-xl-3 flex">
            <div class="content-padding-image zoom-effect-container-clients">
              <div class="image-card">
                <a href="#"><img src="../assets/images/g4s.png" alt="Logo G4s" class="img-fluid"></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-xl-3 flex">
            <div class="content-padding-image zoom-effect-container-clients">
              <div class="image-card">
                <a href="#"><img src="../assets/images/meta4.png" alt="Logo Meta4" class="img-fluid"></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-xl-3 flex">
            <div class="content-padding-image zoom-effect-container-clients">
              <div class="image-card">
                <a href="#"><img src="../assets/images/tuenti.png" alt="Logo Tuenti" class="img-fluid"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="content-box">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <p class="center-align white">Copyright © GIB Solutions 2019</p>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="../vendor/jQuery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../vendor/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/views.js"></script>
  </body>
</html>
